/***
*       Custom Styles for the Campus Announcement Content Type
*       ID: 5580
*/


/* expand small images to fill available space on all browsers */
.newsItemWrapper.announcement .standardContent img.card-img {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}


.announcement .articleSummary .panelLinks {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    margin: auto auto;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}


.announcement .articleSummary .panelLinks li {
    border: 1px solid #088099;
    display: flex;
    flex: 0 1 calc(50% - 7px);
    flex-direction: column;
    justify-content: center;
}


.announcement .articleSummary ul.panelLinks li:before {
    content: '';
    padding-right: 0px;
}