/***
*       Custom Styles for the Campus Announcement Content Type
*       ID: 5580
*/


/* expand small images to fill available space on all browsers */
.newsItemWrapper.announcement .standardContent img.card-img {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}


.panelInner .panelLinks {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    margin: auto auto;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}