/* *** align dropdown menus with organizer content *** */
#zoneA #filterFieldWrapper.contentItem {
    margin: 0;
    padding: 0 2rem;
}

#zoneA #filterFieldWrapper.contentItem:first-of-type {
    margin: 0;
}

#filterField .container-fluid {
    padding-right: unset;
    padding-left: unset;
    margin-right: unset;
    margin-left: unset;
}

#filterFieldWrapper .row .col-md-4 input.form-control {
    height: 4rem;
}

#filterFieldWrapper .row .col-md-4 select.form-select {
    height:43rem;
}

/* *** square corners on keyword input *** */
#filterField .form-control {
    border-radius: 0;
}

/* *** square corners on dropdowns *** */
#filterField .form-select {
    border-radius: 0;
}

/* *** hide items that are not in the users filter *** */
.hideByText, .hideByAgency, .hideByType, .hideBySubject, .hideByJurisdiction, .hideByRegion, .hideResultsMessage {
    display: none;
}

/* *** style the no results message box *** */
.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}


/* *** Organizer adjustments *** */
#zoneA .organizerWrapper.contentItem {
    margin: 0;
}

/* *** Announcement adjustments *** */
#zoneA .announcement.contentItem  {
    margin: 0;
}
