/***
*       Custom Fulltext Styles for the Campus Announcement Content Type
*       ID: 5580
*/

.announcementFullText.newsArticleWrapper .standardContent .card-body p {
    margin-bottom: 1.6rem;
}

#pageContentWrapper .announcementFullText.newsArticleWrapper .card-header h1#pageTitle {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    font-weight: 500;
    hyphens: none;
    padding: 0;
    margin: 0;
}

.announcementFullText img.card-img-top {
    padding: 2rem 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.row.summaryWrapper {
    margin: 0;
}